<h1>Registro de vehiculo</h1>
<div class="container">
    <div class="row">
<form>
    <div class="col-3">
      <label >Número</label>
      <input type="number" class="form-control" id="">
    </div>
    <div class="col-5">
        <label>Chasis</label>
        <input type="text" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="col-3">
        <label>Placa</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" >
      </div>
      <div class="col-3">
        <label>Año</label>
        <input type="number" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="col-5">
        <label>Modelo</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="col-3">
        <label>Tipo</label>
        <select class="form-control">
            <option>Selección opción</option>
            <option value="Compactador">Compactador</option>
            <option value="Cajon abierto">Cajon abierto</option>
            <option value="Tanquero">Tanquero</option>
            <option value="Camioneta">Camioneta</option>
            <option value="Camión">Camión</option>
            <option value="Motocicleta">Motocicleta</option>
        </select>
      </div>
    
  </form>
</div>
</div>