<hr>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <button class="btn btn-success"><i class="fa-solid fa-gas-pump"></i> Combustible</button>
          </div>
      <div class="col-md-auto">
        <button class="btn btn-warning"><i class="fa-solid fa-gauge"></i> Kilometraje</button>
      </div>
      <div class="col-md-auto">
        <button class="btn btn-danger"><i class="fa-solid fa-list"></i> Detalles</button>
      </div>
    </div>
    
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/recolector.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Vehiculos</h5>
                  <p class="card-text">El total de vehiculos es: **CONSULTA A LA BASE DE DATOS LA CANTIDAD DE VEHICULOS**</p>
                  <a href="#" class="btn btn-primary">Registrar vehiculo</a>
                </div>
              </div>
          </div>
      <div class="col-md-auto">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../../assets/img/combustible.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Combustible</h5>
            <p class="card-text">Total de ordenes de combustible**CONSULTA A LA BASE DE DATOS LA CANTIDAD DE VEHICULOS**</p>
            <a href="#" class="btn btn-secondary">Consultar</a>
          </div>
        </div>
      </div>
      <div class="col-md-auto">

      </div>
    </div>
</div>