<hr>
<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/recolector.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Vehiculos</h5>
                  <p class="card-text">El total de vehiculos es: **CONSULTA A LA BASE DE DATOS LA CANTIDAD DE VEHICULOS**</p>
                  <a href="#" class="btn btn-primary">Registrar vehiculo</a>
                </div>
              </div>
          </div>
      <div class="col-md-auto">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../../assets/img/combustible.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Combustible</h5>
            <p class="card-text">Total de ordenes de combustible**CONSULTA A LA BASE DE DATOS LA CANTIDAD DE VEHICULOS**</p>
            <a href="#" class="btn btn-secondary">Validar ordenes</a>
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../../assets/img/mecanica.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Estado de los vehiculos</h5>
            <p class="card-text">Consultar el estado de los vehiculos</p>
            <a href="#" class="btn btn-secondary">Consultar</a>
          </div>
        </div>
      </div>
    </div>
</div>