<div class="container">
<table class="table table-hover">
    <thead>
      <tr>
        <th>Fecha</th>
    <th>Número</th>
    <th>Placa</th>
    <th>Kilometraje inicio</th>
    <th>Detalle inicio</th>
    <th>Kilometraje fin</th>
    <th>Detalle fin</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>20-07-2023</td>
        <td>01</td>
        <td>PDY7666</td>
        <td>200.000</td>
        <td>Sin novedades</td>
        <td>300.000</td>
        <td>Llanta derecha se esta bajando</td>
       
      </tr>
      <tr>
        <td>20-07-2023</td>
        <td>01</td>
        <td>PDY7666</td>
        <td>200.000</td>
        <td>Sin novedades</td>
        <td>300.000</td>
        <td>Llanta derecha se esta bajando</td>
       
      </tr>
    </tbody>
  </table>
  <a [routerLink]="['/administrador']" class="btn btn-danger">Regresar</a>
</div>