<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Número</th>
        <th>Kilometraje inicio</th>
        <th>Detalle inicio</th>
        <th>Kilometraje fin</th>
        <th>Detalle fin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activity of activitiesList">
        <td>{{activity.created_at}}</td>
        <td>{{activity.vehiculo_id}}</td>
        <td>{{activity.kilometraje_inicio}}</td>
        <td>{{activity.estado_inicio}}</td>
        <td>{{activity.kilometraje_fin}}</td>
        <td>{{activity.estado_fin}}</td>
      </tr>
    </tbody>
  </table>
  <a [routerLink]="['/administrador']" class="btn btn-danger">Regresar</a>
</div>